<Content::Cover>
  <:content>
    <Content::Countdown />
  </:content>
  <:background>
    {{#if (is-mode "love")}}
      <img src="/assets/teaser/background_love.jpg" alt="Blumenstrauß">
    {{else}}
      <Content::Video>
        <source src="/assets/teaser/background_fun.mp4" type="video/mp4">
      </Content::Video>
    {{/if}}
  </:background>
</Content::Cover>

<Content::Section @style="primary">
  {{#if (is-mode "love")}}
    <h2>Ihr Lieben, wir heiraten! </h2>

    <p>Nach 10 Jahren und 7 Monaten machen wir es offiziell. Und wie könnte man eine Hochzeit besser verbringen als mit den Menschen, die uns in den letzten Jahren auf unserem Weg begleitet haben. Wir laden euch daher herzlich ein, diesen besonderen Tag mit uns zu verbringen!</p>

    <p>Wir freuen uns auf euch!</p>

    Bis ganz bald, Severine & Christoph
  {{else}}
    <h2>Tick,tock… It's wedding o'clock</h2>

    <p>Hi! Na? Nach zehn Jahren kommen wir endlich unter die Haube. Und wir haben Lust, das so richtig mit euch zu feiern! Wenn du also diesen Link erhalten hast, ist es sehr wahrscheinlich, dass du zu denen gehörst, mit denen wir unbedingt ein Gläschen trinken oder ein Tänzchen wagen möchten.</p>

    <p>Never.Ending.Fun</p>

    Bis ganz bald, Severine & Christoph
  {{/if}}
</Content::Section>

<Content::MediaText @style="square" @isReverse={{true}} >
  <:media>
    {{#if (is-mode "love")}}
      <img src="/assets/home/wedding_day.jpg" alt="Wedding Party">
    {{else}}
      <Content::Slider
        @images={{array
          (hash
            src="/assets/home/wedding_night1.jpg"
            alt="Übernachtung auf der Wiese"
          )
          (hash
            src="/assets/home/wedding_night2.jpg"
            alt="Übernachtung im Zelt"
          )
          (hash
            src="/assets/home/wedding_night3.jpg"
            alt="Übernachtung im Flugzeug"
          )
          (hash
            src="/assets/home/wedding_night4.jpg"
            alt="Übernachtung auf dem Sofa"
          )
          (hash
            src="/assets/home/wedding_night5.jpg"
            alt="Übernachtung auf dem Sofa mit Katze"
          )
        }}
      />
    {{/if}}
  </:media>
  <:text>
    <h2>Freie Trauung</h2>
    <p>Vor der Feier werden wir uns im Rahmen einer freien Trauung das Ja-Wort geben.</p>
    <p>Wann: 15:00 Uhr<br>
    Wo: 21gramm, Hermannstraße 179, 12049 Berlin-Neukölln</p>
    <p>Die Trauung findet im kühlen Innenraum statt.</p>
  </:text>
</Content::MediaText>

<Content::MediaText @style="square">
  <:media>
    {{#if (is-mode "love")}}
      <img src="/assets/home/21gramm_day.jpg" alt="Festtafel im 21 Gramm">
    {{else}}
      <Content::Video>
        <source src="/assets/home/bfb2e8c4-d20b-4db0-b901-29e233c8fdd2.MP4" type="video/mp4">
      </Content::Video>
    {{/if}}
  </:media>
  <:text>
    <h2>Feier</h2>
    <p>Die Feier findet direkt im Anschluss ebenfalls im <a href="https://21gramm.berlin/de/startseite/" rel="noopener noreferrer" target="_blank">21 Gramm</a> in Neukölln statt.</p>
    <p>Wir freuen uns auf einen schönen Tag mit euch, gutem Essen und dem ein oder anderen Drink in entspannter Atmosphäre.</p>
    <p>Dresscode: In Neukölln darf jeder wie er mag. Kommt daher so, wie ihr euch wohlfühlt. Vergesst nicht, eure Dancing Shoes einzupacken.</p>
    <p>Denkt daran, euch je nach Wetter und Empfinden eine Jacke einzupacken. Bei gutem Wetter werden wir draußen sein. Für Sonnenschirme und kühle Getränke ist gesorgt.</p>
  </:text>
</Content::MediaText>

<Content::MediaText @style="square" @isReverse={{true}} >
  <:media>
    {{#if (is-mode "love")}}
      <Content::Gallery />
    {{else}}
      <Content::Video>
        <source src="/assets/home/sevi_money_gif.MOV" type="video/mp4">
      </Content::Video>
    {{/if}}
  </:media>
  <:text>
    <h2>Tipps für Geschenke&shy;suchende</h2>
    {{#if (is-mode "love")}}
      <p>Unser größtes Geschenk ist es, mit euch zu feiern! Wenn ihr uns zusätzlich eine Freude machen wollt, freuen wir uns am meisten über einen finanziellen Zuschuss für unseren Start ins Eheleben.</p>
    {{else}}
      <p>Liebe, Gesundheit, Glück, Geld, Geld & <strong>Geld</strong> ;)</p>
    {{/if}}
  </:text>
</Content::MediaText>

<Content::MediaText @style="square">
  <:media>
    <div class="u-h3 u-font-default">
      <a href="mailto:hi.na@hundertsieben.love">hi.na&shy;@hundertsieben.love</a>
    </div>
  </:media>
  <:text>
    <h2>Rückmeldung</h2>
    <p>Bitte gebt uns bis zum 28.02.2022 Bescheid, ob ihr kommen könnt. Meldet euch dafür einfach bei uns und schreibt uns eine kurze Nachricht. Falls ihr schon wisst, dass ihr auch zur Trauung kommen wollt, gebt uns gern ebenfalls Bescheid.</p>
  </:text>
</Content::MediaText>

<Content::MediaText @style="square" @isReverse={{true}} >
  <:media>
    {{#if (is-mode "love")}}
      <img src="/assets/home/hotel_day.jpg" alt="Übernachtung im Luxushotel">
    {{else}}
      <Content::Slider
        @images={{array
          (hash
            src="/assets/home/hotel_night.jpg"
            alt="Übernachtung auf der Wiese"
          )
          (hash
            src="/assets/home/hotel_night2.jpg"
            alt="Übernachtung im Zelt"
          )
          (hash
            src="/assets/home/hotel_night3.jpg"
            alt="Übernachtung im Flugzeug"
          )
          (hash
            src="/assets/home/hotel_night4.jpg"
            alt="Übernachtung auf dem Sofa"
          )
          (hash
            src="/assets/home/hotel_night5.jpg"
            alt="Übernachtung auf dem Sofa mit Katze"
          )
        }}
      />
    {{/if}}
  </:media>
  <:text>
    <h2>Übernachtung</h2>
    <p>Für alle, die von weiter her anreisen, haben wir auf der Karte weiter unten ein paar Tipps für Übernachtungsmöglichkeiten in der Nähe der Location eingezeichnet.</p>
    <p>Schaut auch gern bei <a href="https://www.booking.com/district/de/berlin/neukolln.de.html" target="_blank" rel="noopener noreferrer">Booking</a> oder <a href="https://www.airbnb.de/neukolln-berlin-germany/stays" rel="noopener noreferrer" target="_blank">airbnb</a> nach Unterkünften in Neukölln oder in der näheren Umgebung.</p>
    <p>Die Parkplatzsituation in Berlin ist schwierig. Wir empfehlen euch daher den ÖPNV zu nutzen oder wer es komfortabler mag, kann sich mit den Apps <a href="https://ocie.app.link/6qlyRoi7dfb?%243p=a_custom_47734&uclick_id=c8509380-57c9-48a5-ab9f-f6000f980596&~tune_publisher_sub1=b94fafa4-6670-4249-92ba-46080dfc3d06" rel="noopener noreferrer" target="_blank">Uber</a> oder <a href="https://mytaxi.onelink.me/HySP" target="_blank" rel="noopener noreferrer">FreeNow</a> ganz bequem ein Taxi bestellen.</p>
  </:text>
</Content::MediaText>

<Content::Map
  @lat="52.4746059"
  @lng="13.441086"
  @zoom={{if (media 'isMobile') '12.5' '13.5'}}
  @style={{if
    (is-mode "love")
    "mapbox://styles/kennstenicht/ckxrus2aubnfo14lems6tti3y"
    "mapbox://styles/mapbox/dark-v10"
  }} as |map|
>
  <map.Marker
    @lat="52.472175"
    @lng="13.429145"
    @title="21 Gramm"
    @link="https://21gramm.berlin/de/startseite/"
    @icon="location"
  />
  <map.Marker
    @lat="52.473577925508"
    @lng="13.458946469616"
    @title="Estrel"
    @link="https://www.estrel.com/de/hotel"
    @icon="hotel"
  />
  <map.Marker
    @lat="52.467388631232"
    @lng="13.437456611201"
    @title="Motel Plus"
    @link="https://motelplus-berlin.de"
    @icon="hotel"
  />
  <map.Marker
    @lat="52.478951265222"
    @lng="13.427090213522"
    @title="Mercure Hotel"
    @link="https://mercure-hotel-berlin-tempelhof-airport.at-hotels.com/de/"
    @icon="hotel"
  />
  <map.Marker
    @lat="52.48065439254132"
    @lng="13.425728440511273"
    @title="Aeronaut Apartments"
    @link="https://pearl1.de/de/apartment/aeronaut/"
    @icon="hotel"
  />
  <map.Marker
    @lat="52.482025581725495"
    @lng="13.430808127016865"
    @title="Hotel Erlanger Hof"
    @link="https://www.erlanger-hof.de/"
    @icon="hotel"
  />
</Content::Map>
