<header class={{bem this.blockName}} ...attributes>
  <div class={{bem this.blockName "logo"}}>
    <div class={{bem this.blockName "mark"}}>
      107
    </div>
    <div class={{bem this.blockName "subline"}}>
      {{#if (is-mode "love")}}
        Love
      {{else if (is-mode "fun")}}
        Fun!
      {{/if}}
    </div>
  </div>
  <nav class={{bem this.blockName "navigation"}}>
    <Application::Header::ModeSwitch />
  </nav>
</header>
