<Content::Cover>
  <:content>
    <div class={{bem this.blockName}} ...attributes>
      {{#if this.randomQuestion}}
        <h1 class="{{bem this.blockName "title"}} u-h2"  id="question">
          {{this.randomQuestion.question}}
        </h1>
        <div class={{bem this.blockName "answer"}}>
          <input
            placeholder="Antwort eingeben"
            aria-labelledby="question"
            type={{this.randomQuestion.type}}
            value={{this.answer}}
            class="u-h3"
            {{on "input" this.updateAnswer}}
          />
        </div>

        <Ui::Button
          class={{bem this.blockName "button"}}
          data-hover="sicher?"
          disabled={{this.noAnswer}}
          {{on "click" this.signIn}}
          {{on-key 'Enter' this.signIn}}
        >
          Ist doch einfach
        </Ui::Button>

        <Ui::Button
          class={{bem this.blockName "button"}}
          data-hover="wirklich!?"
          {{on "click" this.newQuestion}}
        >
          Andere Frage
        </Ui::Button>

        {{#if this.showError}}
          <div class={{bem this.blockName "error"}}>
            {{this.randomQuestion.wrongAnswerMessage}}
          </div>
        {{/if}}
      {{else}}
        <h1 class={{bem this.blockName "title"}}>
          Bist du sicher, dass du eingeladen bist?
        </h1>
        <Ui::Button data-hover="Noch mal von vorne!" {{on "click" this.startOver}}>
          Ich denk noch mal nach
        </Ui::Button>
      {{/if}}
    </div>
  </:content>
  <:background>
    <img
      alt={{this.randomQuestion.alt}}
      class="u-grayscale"
      src={{this.randomQuestion.image}}
      {{style this.randomQuestion.style}}
    >
  </:background>
</Content::Cover>
