<button
  class={{bem this.blockName modifiers=(hash
    style=@style
    is-active=@isActive
  )}}
  disabled={{@disabled}}
  type={{this.type}}
  {{on "click" this.onClick}}
  ...attributes
>
  {{#if @icon}}
    {{svg-jar @icon class=(bem this.blockName "icon" modifiers=(hash
      has-label=@label
    ))}}
  {{/if}}
  {{#if @label}}
    <div class={{bem this.blockName "label"}}>
      {{@label}}
    </div>
  {{/if}}
</button>
