<button
  class={{bem this.blockName modifiers=(hash
    has-label=(has-block)
    is-active=@isActive
    style=@style
  )}}
  disabled={{@disabled}}
  type={{this.type}}
  ...attributes
>
  {{#if @icon}}
    {{svg-jar @icon class=(bem this.blockName "icon")}}
  {{/if}}
  {{#if (has-block)}}
    <div class={{bem this.blockName "label"}}>
      {{yield}}
    </div>
  {{/if}}
</button>
