<div class={{bem this.blockName}} ...attributes>
  <Application::Header />

  <main class={{bem this.blockName "content"}}>
    {{#if this.correctPassword}}
      {{yield}}
    {{else}}
      <Application::Login @onSuccess={{this.enterWebsite}} />
    {{/if}}
  </main>

  <Application::Footer />
</div>
