<div
  class={{bem this.blockName modifiers=(hash
    mode=this.app.mode
  )}}
  ...attributes
>
  <Application::Header />

  <main class={{bem this.blockName "content"}}>
    {{#if this.correctPassword}}
      {{yield}}
    {{else}}
      <Application::Login @onSuccess={{this.enterWebsite}} />
    {{/if}}
  </main>

  <Application::Footer />

  <div class={{bem this.blockName "bridal" modifiers=(hash is-severine=true)}}>
    Severine {{lastname "Sarközi" "Wiedenmann"}}
  </div>

  <div class={{bem this.blockName "bridal" modifiers=(hash is-christoph=true)}}>
    Christoph {{lastname "Wiedenmann" "Sarközi"}}
  </div>
</div>
