{{!-- template-lint-disable no-forbidden-elements --}}
<title>{{this.model.title}} — {{this.model.siteName}}</title>
<meta property="og:title" content="{{this.model.title}} — {{this.model.siteName}}" />
<meta name="description" content="Nach 10 Jahren und 7 Monaten machen wir es offiziell. Und wie könnte man eine Hochzeit besser verbringen als mit den Menschen, die uns in den letzten Jahren auf unserem Weg begleitet haben.">
<meta property="og:description" content="Nach 10 Jahren und 7 Monaten machen wir es offiziell. Und wie könnte man eine Hochzeit besser verbringen als mit den Menschen, die uns in den letzten Jahren auf unserem Weg begleitet haben.">

<meta property="og:image" content="/assets/home/hochzeit.jpg">
<meta property="og:url" content="https://hundertsieben.love">
<link rel="icon" type="image/svg+xml" href={{this.model.favicon}}>
<meta name="apple-mobile-web-app-title" content="107">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" href="/assets/meta/touchicon.png">
